.avatar {
  background-image: url(../img/avatars/avatarSpriteSheet-small.jpg);
  background-position: -50px 0;
  width: 50px;
  height: 50px;
}

.icon-avatar1{
  background-position: 0 0;
}
.icon-avatar2{
  background-position: -50px 0;
}
.icon-avatar3{
  background-position: -100px 0;
}
.icon-avatar4{
  background-position: -150px 0;
}
.icon-avatar5{
  background-position: -200px 0;
}
.icon-avatar6{
  background-position: -250px 0;
}
.icon-avatar7{
  background-position: -300px 0;
}